body {
    font-family: 'Montserrat', Helvetica, 'Segoe UI', sans-serif;
    background-color:#7160db;
    color: white;
    text-shadow: 0 0 2px;
    text-align: center;
    display: block;
    margin: 0;
}

#appArea {
    background: linear-gradient(135deg,rgb(252, 102, 102) 0%, rgba(68, 62, 248, 0.97) 100%);
    border: 8px solid rgb(255, 255, 255);
    border-radius: 25px; 
    padding: 33px;
    animation: breathe 2s ease-out infinite alternate;
}

@keyframes breathe {
    0% {
        box-shadow: 0 0 20px white, inset 0 0 20px white;
    }
    100% {
        box-shadow: 0 0 50px white, inset 0 0 50px white;
    }
}

#gradeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    /* background-color: rgba(255, 255, 255, 0.173); */
    /* border-radius: 25px; */
}

h1 {
    font-size: 26px;
    font-weight: 1000;
    margin-bottom: 22px;
    transition: 0.2s ease;
}

h1:hover {
    transform: scale(1.05);
}

#gradeForm label {
    font-size: 1em;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.15s ease;
    border-radius: 25px 0 0 25px;
    background-color: rgba(79, 39, 255, 0.366);
    padding: 0 25px;
    width: 90px;
}

/* #gradeForm label:hover {
    transform: scale(1.1);
} */

#gradeForm div {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 5px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(153, 149, 255);
}

#gradeForm div input {
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 0 25px 25px 0;
    width: 125px;
    padding: 5px;
    transition: 0.15s ease;
}

#gradeForm div input:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(109, 153, 255);    
}

#gradeForm div input:focus {
    box-shadow: 0 0 8px rgb(255, 87, 87);
    outline: 5px solid rgba(79, 39, 255, 0.728);
    transform: scale(1.1);
}

#calculateBtn {
    font-family: 'Montserrat';
    font-size: 1.5em;
    font-weight: 700;
    border: none;
    border-radius: 33px;
    background-color: rgba(12, 25, 165, 0.686);
    box-shadow: 0 0 8px rgba(12, 25, 165, 0.686);
    color: rgb(255, 255, 255);
    margin-top: 25px;
    margin-bottom: 12px;
    padding: 14px 19px;
    cursor: pointer;
    transition: 0.1s ease;
}

#calculateBtn:hover,  #calculateBtn:focus {
    text-shadow: 0 0 1px white;
    box-shadow: 0 0 16px rgb(255, 255, 255);
    transform: scale(1.075);
}

#calculateBtn:active {
    color: azure;
    background-color: rgb(18, 29, 143);
    text-shadow: none;
    box-shadow: 0 0 8px rgb(255, 255, 255);
    transform: scale(1);
}

h2 {
    margin: 15px 0;
}

#finalGrade {
    display: inline-block;
    font-size: 2em;
    font-weight: bolder;
    color: rgba(36, 49, 150, 0.935);
    margin-bottom: 20px;
    padding: 3px 15px;
    background-color: white;
    border: 4px solid white;
    border-radius: 33px;
    box-shadow: 0 0 10px rgb(109, 153, 255);
    transition: 0.15s ease;
}

#finalGrade:hover {
    color: rgb(5, 23, 160);
    box-shadow: 0 0 10px rgb(6, 26, 179);
    transform: scale(1.075);
}

@media screen and (min-width: 750px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        margin-left: 33px;
    }
    #appArea {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); 
        max-width: 700px;
        padding: 100px;
        border-radius: 100px;
    }
}

@media screen and (min-width: 1000px) {
    #appArea {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 20px;
        max-width: 1500px;
    }
    h1 {
        background-color: rgba(11, 26, 191, 0.26);
        padding: 40px 5px;
        border-radius: 50px;
        box-shadow: 0 0 12px rgba(12, 25, 165, 0.262);
        width: 250px;
        margin-right: 10px;
    }
    h1:hover {
        box-shadow: 0 0 24px rgba(12, 25, 165, 0.262);
    }
}
