body {
    background: linear-gradient(135deg,rgba(255, 171, 171, 1) 0%, rgba(91, 83, 237, 0.97) 100%);
    font-family: 'Montserrat', Helvetica, 'Segoe UI', sans-serif;
    color: white;
    text-shadow: 0 0 2px;
    text-align: center;
}

#appArea {
    border: 8px solid white;
    border-radius: 25px;
    padding: 30px;
}

#gradeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gradeForm label {
    display: flex;
    align-items: center;
}

#gradeForm div {
    display: flex;
    justify-content: space-between;
    width: 275px;
    margin: 10px;
}

#gradeForm div input {
    border: none;
    border-radius: 10px;
    padding: 5px;
}

#calculateBtn {
    font-family: 'Montserrat';
    font-size: 1.25em;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: rgb(46, 58, 185);
    color: rgb(255, 255, 255);
    margin: 20px;
    padding: 8px;
}

