body {
    font-family: 'Montserrat', Helvetica, 'Segoe UI', sans-serif;
    background-color:#7160db;
    color: white;
    text-shadow: 0 0 2px;
    text-align: center;
    display: block;
}

h1 {
    font-weight: 1000;
}

#appArea {
    background: linear-gradient(135deg,rgb(252, 102, 102) 0%, rgba(68, 62, 248, 0.97) 100%);
    border: 8px solid rgb(255, 255, 255);
    border-radius: 100px;
    box-shadow: 0 0 50px white, inset 0 0 33px white;
    padding: 100px;
}

#gradeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#gradeForm label {
    font-size: 1.1em;
    font-weight: 600;
    display: flex;
    align-items: center;
}

#gradeForm div {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 10px;
}

#gradeForm div input {
    font-size: 28px;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(109, 153, 255);
    width: 125px;
    padding: 3px;
}

#calculateBtn {
    font-family: 'Montserrat';
    font-size: 1.5em;
    font-weight: 700;
    border: none;
    border-radius: 33px;
    background-color: rgba(12, 25, 165, 0.686);
    color: rgb(255, 255, 255);
    margin: 20px;
    padding: 14px 19px;
    cursor: pointer;
}

#calculateBtn:hover {
    text-shadow: 0 0 2px white;
    box-shadow: 0 0 16px rgb(255, 255, 255);
}

#calculateBtn:active {
    background-color: rgb(10, 22, 154);
    text-shadow: none;
    box-shadow: 0 0 8px rgb(255, 255, 255);
}

h2 {
    margin: 15px 0;
}

#finalGrade {
    font-size: 2em;
    font-weight: bolder;
    color: rgb(36, 49, 150);
    margin-bottom: 50px;
    padding: 3px 15px;
    background-color: white;
    border: 4px solid white;
    border-radius: 33px;
    box-shadow: 0 0 10px rgb(109, 153, 255);
}

@media screen and (min-width: 750px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 50px;
        margin-left: 33px;
    }
    #appArea {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%); 
        max-width: 700px;
    }
}

@media screen and (min-width: 1000px) {

    #appArea {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 20px;
        max-width: 1500px;
    }
    h1 {
        width: 250px;
    }
}
